<script type="text/javascript" src="https://ecommerce.merchantware.net/v1/CayanCheckoutPlus.js"></script>
<script type="text/javascript">
    CayanCheckoutPlus.setWebApiKey("{{ CAYAN_WEB_API_KEY }}");

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('submitPayment').addEventListener('click', function () {
            // prevent double click
            this.setAttribute('disabled', 'disabled');
            CayanCheckoutPlus.createPaymentToken({
                success: function (tokenResponse) {
                    // Populate a hidden field with the single-use token
                    document.getElementById("paymentToken").value = tokenResponse.token;

                    // Submit the form
                    document.getElementById("paymentForm").submit();
                },
                error: function (errors) {
                    // TODO: handle error messages
                    console.table(errors);
                }
            });

        });
    });
</script>

<form method="post" id="paymentForm">
    {% csrf_token %}
    <div>
        <span id="error_message"></span>
    </div>
    <div>
        <label for="formcardnumber">Card Number</label>
        <input type="text" size="20" name="formcardnumber" data-cayan="cardnumber">
    </div>
    <div>
        <label for="formcvv">CVV</label>
        <input type="text" size="4" name="formcvv" data-cayan="cvv">
    </div>
    <div>
        <label for="formexpiremonth">Expiration Month</label>
        <input type="text" size="2" name="formexpiremonth" data-cayan="expirationmonth" title="MM">
    </div>
    <div>
        <label for="form-expireyear">Expiration Year</label>
        <input type="text" size="2" name="formexpireyear" data-cayan="expirationyear" title="YY">
    </div>
    <div>
        <input type="hidden" name="paymentToken" value="">
        <button type="button" id="submitPayment">Submit Payment</button>
    </div>
</form>

